.slider_pr_2_0_0 {
    background-size: 1920px;
    position: relative;

    img {
        display: block;
        inset: 0;
        width: 100%;
        height: auto;
    }

    &__item {
        position: relative;
        top: 0;
    }
}