.partner_pr_2_0_0 {
    padding: 30px 0 0;

    &__title {
        color: var(--primary-color);
        text-align: center;
        font-weight: 600;
        font-size: 1.8rem;
    }

    &__box {
        position: relative;
        overflow: hidden;
        height: 70px;
        margin: 30px 0;

        &:hover .partner_pr_2_0_0__preWrapper {
            animation-play-state: paused;
        }

        &:hover .partner_pr_2_0_0__wrapper {
            animation-play-state: paused;
        }
    }

    &__preWrapper {
        position: relative;
        width: 100%;
        transform: translateX(0%);
        animation: scroll1 13s linear infinite;
        will-change: transform;
    }

    &__wrapper {
        position: absolute;
        white-space: nowrap;
        transform: translateX(0%) translateZ(0);
        animation: scroll2 13s linear infinite;
        will-change: transform;
        display: flex;
    }

    &__item {
        width: 25%;
        margin: 0 30px;
    }

    &__pic {
        width: 170px;
        display: block;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    @media (max-width: 1024px) {
        &__pic {
            width: 145px;
        }
    }

    @media (max-width: 600px) {
        &__preWrapper {
            animation: scroll1 33s linear infinite;
        }

        &__wrapper {
            animation: scroll2 33s linear infinite;
        }
    }
}

@keyframes scroll1 {
    0% {
        transform: translateX(-0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0%) translateZ(0);
    }

    100% {
        transform: translateX(-100%) translateZ(0);
    }
}