.system_pr_2_0_0 {
    padding: 30px 0 0;

    &__title {
        color: var(--primary-color);
        text-align: center;
        font-weight: 600;
        font-size: 1.8rem;

        br {
            display: none;
        }
    }

    &__box {
        display: flex;
        margin-top: 20px;
    }

    &__item {
        width: 33%;
        margin: 0 8px;
        border-bottom: 2px solid #d8d8d8;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
    }

    &__pic {
        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 10px 10px 0 0;
        }
    }

    &__text {
        text-align: center;
        color: var(--primary-color);
        font-weight: 600;
        font-size: 1.1rem;
        padding: 20px 0;
        // transition: all .3s linear;

        // &:hover {
        //     background-color: var(--primary-color);
        //     color: #fff;
        //     border-radius: 0 0 10px 10px;
        //     transition: all .3s linear;
        // }
    }

    @media (max-width: 600px) {
        &__title {
            br {
                display: block;
            }
        }

        &__box {
            flex-direction: column;
        }

        &__item {
            width: 100%;
            margin: 0 0 15px 0;
        }
    }
}