.system_pr_2_0_0 {
    padding: 30px 0 0;

    &__title {
        color: var(--primary-color);
        text-align: center;
        font-weight: 600;
        font-size: 1.8rem;

        br {
            display: none;
        }
    }

    &__box {
        position: relative;
        overflow: hidden;
        height: 246px;
        margin: 30px 0;

        &:hover .system_pr_2_0_0__preWrapper {
            animation-play-state: paused;
        }

        &:hover .system_pr_2_0_0__wrapper {
            animation-play-state: paused;
        }
    }

    &__preWrapper {
        position: relative;
        width: 100%;
        transform: translateX(0%);
        animation: scroll1 13s linear infinite;
        will-change: transform;
    }

    &__wrapper {
        position: absolute;
        white-space: nowrap;
        transform: translateX(0%) translateZ(0);
        animation: scroll2 13s linear infinite;
        will-change: transform;
        display: flex;
    }

    &__item {
        width: 33%;
        margin: 0 0 0 30px;
        border-bottom: 2px solid #d8d8d8;
        border-radius: 0 0 10px 10px;
        cursor: pointer;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    &__pic {
        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 10px 10px 0 0;
        }
    }

    &__text {
        text-align: center;
        color: var(--primary-color);
        font-weight: 600;
        font-size: 1.1rem;
        padding: 20px 10px;
        // transition: all .3s linear;

        // &:hover {
        //     background-color: var(--primary-color);
        //     color: #fff;
        //     border-radius: 0 0 10px 10px;
        //     transition: all .3s linear;
        // }
    }

    @media (max-width: 600px) {
        &__title {
            br {
                display: block;
            }
        }

        &__box {
            flex-direction: column;
        }

        &__item {
            width: 100%;
        }

        &__preWrapper {
            animation: scroll1 33s linear infinite;
        }

        &__wrapper {
            animation: scroll2 33s linear infinite;
        }
    }
}

@keyframes scroll1 {
    0% {
        transform: translateX(-0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0%) translateZ(0);
    }

    100% {
        transform: translateX(-100%) translateZ(0);
    }
}