.screen1 {
    background-size: 1920px;
    position: relative;

    &__item {
        position: relative;
        top: 0;

        img {
            display: block;
            inset: 0;
            width: 100%;
            height: auto;
        }
    }
}

.screen2 {
    padding: 30px 0;

    &__title {
        color: #2A52BE;
        text-align: center;
        font-weight: 600;
        font-size: 1.8rem;
    }

    &__boxTabs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__tab {
        cursor: pointer;
        margin: 20px;
        font-size: 1.1rem;
        font-weight: 500;

        &.current {
            color: #2A52BE;
            text-decoration: underline;
            font-weight: 600;
        }
    }

    &__listVideo {
        display: flex;
    }

    &__boxVideoLeft {
        width: 60%;
    }

    &__pic {
        background: #252525;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            height: auto;
            display: block;
            opacity: .5;
            transition: .3s;
        }

        &:hover img {
            transform: scale(1.03);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            background: url(../images/play.png) center no-repeat;
            background-size: 100%;
            width: 80px;
            height: 80px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: .3s;
        }
    }

    &__ttVideo {
        font-size: 1.1rem;
        font-weight: 600;
        margin-top: 10px;

        span {
            color: #878787;
            font-size: 0.9rem;
            font-weight: 400;
        }
    }

    &__boxVideoRight {
        flex: 1;
        margin-left: 20px;
    }

    &__item {
        display: flex;
        margin-bottom: 15px;
    }

    &__picChild {
        width: 40%;
        background: #252525;
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            height: auto;
            display: block;
            opacity: .5;
            transition: .3s;
        }

        &:hover img {
            transform: scale(1.03);
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            z-index: 1;
            background: url(../images/play.png) center no-repeat;
            background-size: 100%;
            width: 45px;
            height: 45px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: .3s;
        }
    }

    &__ttVideoChild {
        flex: 1;
        padding-left: 10px;
        font-size: 1.1rem;
        font-weight: 600;

        span {
            color: #878787;
            font-size: 0.9rem;
            font-weight: 400;
        }
    }

    .tab-content {
        padding: 0;
    }

    @media (max-width: 820px) {
        &__listVideo {
            flex-direction: column;
        }

        &__boxVideoLeft {
            width: 100%;
        }

        &__boxVideoRight {
            margin-left: 0;
            margin-top: 20px;
        }
    }

    @media (max-width: 600px) {
        &__boxTabs {
            justify-content: space-between;
        }

        &__tab {
            margin: 20px 0px;
            font-size: 1rem;
        }

        &__picChild {
            width: 42%;
        }

        &__ttVideoChild {
            font-size: 1rem;
        }
    }

    @media (max-width: 390px) {
        &__title {
            font-size: 1.6rem;
        }

        &__picChild {
            width: 48%;
        }
    }

    @media (max-width: 360px) {
        &__title {
            font-size: 1.4rem;
        }
    }

    @media (max-width: 344px) {
        &__picChild {
            width: 46%;
        }

        &__ttVideoChild {
            font-size: 0.8rem;
        }
    }
}

.screen3 {
    padding: 30px 0;

    &__box {
        display: flex;
        justify-content: center;
        border-top: 1px solid #EBEBEB;
        border-bottom: 1px solid #EBEBEB;
        padding: 40px 0;
    }

    &__item {
        width: 33%;
        margin: 0 5px;
        position: relative;
    }

    &__pic {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &__boxText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }

    &__name {
        color: #2A52BE;
        font-weight: 600;
        font-size: 1.1rem;
    }

    &__feedback {
        font-size: 1rem;
        margin: 10px 0;
        text-align: justify;
    }

    &__service {
        font-size: 1rem;
        font-weight: 600;
    }

    @media (max-width: 1024px) {
        &__box {
            padding: 25px 0;
        }

        &__name,
        &__service {
            font-size: 1rem;
        }

        &__feedback {
            font-size: 0.8rem;
        }
    }

    @media (max-width: 912px) {
        &__box {
            padding: 25px 0;
        }

        &__name,
        &__service {
            font-size: 0.9rem;
        }

        &__feedback {
            font-size: 0.6rem;
            margin: 5px 0;
        }
    }

    @media (max-width: 600px) {
        &__box {
            flex-wrap: wrap;
        }

        &__item {
            width: 100%;
            margin-bottom: 15px;
        }

        &__name,
        &__service {
            font-size: 1.2rem;
        }

        &__feedback {
            font-size: 1rem;
            margin: 5px 0;
        }
    }

    @media (max-width: 375px) {

        &__name,
        &__service {
            font-size: 1rem;
        }

        &__feedback {
            font-size: 0.9rem;
        }
    }

    @media (max-width: 320px) {

        &__name,
        &__service {
            font-size: 0.9rem;
        }

        &__feedback {
            font-size: 0.7rem;
        }
    }

    @media (max-width: 280px) {

        &__name,
        &__service {
            font-size: 0.8rem;
        }

        &__feedback {
            font-size: 0.6rem;
        }
    }
}

.screen4 {
    padding: 0 0 30px;

    &__title {
        color: #2A52BE;
        text-align: center;
        font-weight: 600;
        font-size: 1.8rem;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #EBEBEB;
    }

    &__item {
        width: 33%;
    }

    &__pic {
        width: 60%;
        display: block;
        margin: 0 auto;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    @media (max-width: 600px) {
        &__pic {
            width: 72%;
        }
    }

    @media (max-width: 390px) {
        &__title {
            font-size: 1.6rem;
        }
    }

    @media (max-width: 360px) {
        &__title {
            font-size: 1.4rem;
        }
    }
}

.screen5 {
    padding: 0 0 30px;

    &__title {
        color: #2A52BE;
        text-align: center;
        font-weight: 600;
        font-size: 1.8rem;
    }

    &__box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    &__item {
        width: 33%;
    }

    &__pic {
        margin: 8px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    @media (max-width: 600px) {
        &__item {
            width: 100%;
        }
    }

    @media (max-width: 390px) {
        &__title {
            font-size: 1.6rem;
        }
    }

    @media (max-width: 360px) {
        &__title {
            font-size: 1.4rem;
        }
    }
}