:root {
    --primary-color: #2A52BE;
    /* Màu chính */
    --secondary-color: #10B1E7;
    /* Màu phụ */
    --third-color: #E3F4FD;
    /* Màu phụ 2 */
    --accent-color: #F15856;
    /* Màu nhấn mạnh */
    --black-color: #000000;
    /* Màu text */
}