.boxMain {
    display: flex;
    margin: 30px 0;

    &__left {
        width: 70%;
    }

    &__right {
        flex: 1;
        margin-left: 10px;
    }

    @media (max-width: 912px) {
        &__left {
            width: 60%;
        }
    }

    @media (max-width: 600px) {
        flex-direction: column;

        &__left {
            width: 100%;
        }

        &__right {
            margin-top: 20px;
            margin-left: 0px;
        }
    }
}

.screen1 {
    background-size: 1920px;
    position: relative;

    &__item {
        position: relative;
        top: 0;

        img {
            display: block;
            inset: 0;
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
}

.screen2 {
    &__box {
        display: flex;
        margin: 10px 0;
    }

    &__item {
        width: 33%;
        margin: 0 5px;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}

.screen3 {
    &__title {
        color: #2A52BE;
        font-weight: 600;
        font-size: 1.4rem;
        margin: 20px 0;
    }

    &__desc {
        font-size: 1rem;
        text-align: justify;
    }

    &__pic {
        width: 70%;
        display: block;
        margin: 20px auto;

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    @media (max-width: 320px) {
        &__title {
            font-size: 1.2rem;
        }
    }
}

.price_pr_2_0_0 {
    &__item {
        width: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 12px;
        border-bottom: 3px solid #d8d8d8;
    }

    &__boxTop {
        background-color: #E3F4FD;
        border-radius: 12px;
        padding: 20px 20px 110px;
    }

    &__titleChild {
        color: var(--primary-color);
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
    }

    &__pic {
        margin-top: -100px;
        padding: 0 20px;

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 12px;
        }
    }

    &__boxPrice {
        padding: 20px 20px 10px 20px;
    }

    &__itemPrice {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 14px;
    }

    &__nameService,
    &__price {
        font-size: 0.9rem;
        color: var(--black-color);
    }

    &__boxButton {
        padding: 0 20px 20px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btn {
        border: none;
        border-radius: 20px;
        color: #fff;
        text-align: center;
        font-size: 1rem;
        padding: 5px 15px;
        width: 48%;
        cursor: pointer;

        &.btnMore {
            background-color: #10B1E7;
            transition: all 0.3s linear;

            &:hover {
                background-color: #5bcaef;
                transition: all 0.3s linear;
            }
        }

        &.btnRegist {
            background-color: #2A52BE;
            transition: all 0.3s linear;

            &:hover {
                background-color: #082677;
                transition: all 0.3s linear;
            }
        }
    }
}

.sidebar {
    &__boxFormLeft {
        background-color: #2A52BE;
        padding: 30px 20px;
        margin-top: 15px;
        border-radius: 12px;
    }

    &__title {
        text-align: center;
        color: #fff;
        font-weight: 600;
        font-size: 1.1rem;
        margin-bottom: 12px;
    }

    &__form {

        input,
        select {
            padding: 8px 10px;
            border-radius: 20px;
            border: none;
            outline: none;
            background: #fff;
            font-size: 14px;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    &__reg {
        input {
            background-color: #10B1E7;
            color: #fff;
            cursor: pointer;
            transition: all .3s linear;

            &:hover {
                background-color: #39c2f0;
                transition: all .3s linear;
            }
        }
    }

    @media (max-width: 912px) {
        &__title {
            font-size: 1rem;
        }
    }

    @media (max-width: 600px) {
        &__title {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 320px) {
        &__title {
            font-size: 1rem;
        }
    }
}